
	h1
	{
	color: white;
	background-image: url("imagesite/marbre.jpg");
	background-position: 30px 50px;
	border-left: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 4px 4px 0px black;
    margin-left: 40%;
    margin-right: 40%;
	}

	h2
	{
	color: white;
	background-image: url("imagesite/marbre.jpg");
	background-position: 30px 50px;
	border-left: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 4px 4px 0px black;
    margin-left: 40%;
    margin-right: 40%;
	}

	section
	{
   width: 700px;
   text-align: center;
   padding: 50px;
   margin: 50px; /* Marge extérieure de 50px */
	}

	li
	{
	color: white;
	background-image: url("imagesite/ardoise.jpg");
	background-position: 30px 50px;
	border-left: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 4px 4px 0px black;
	}

	p
	{
	color: white;
	background-image: url("imagesite/marbre.jpg");
	background-position: 30px 50px;
	border-left: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 4px 4px 0px black;
    margin-left: 30%;
    margin-right: 30%;
	}

	body
	{
	text-shadow: 2px 2px 4px black;
	text-align: center;
	font-size  : x-large;
	background-image: url("imagesite/mr.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	}

	img
	{
	background-position: 30px 50px;
	border-left: 4px solid black;
    border-right: 4px solid black;
    box-shadow: 4px 4px 0px black;
	}


	iframe
	{
		width: 50%;
		height: 50%;